<configuration>
    <!-- Keep stdout usable as FunC/JSON when third-party libraries log. -->
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder><pattern>%level %logger - %msg%n</pattern></encoder>
    </appender>
    <root level="WARN"><appender-ref ref="stderr"/></root>
</configuration>
